{% extends "shop/base.html" %}

{% block title %}Payment successful{% endblock %}

{% block content %}
  <div class="payment-success">
    <i class="bi bi-check2-circle" style="font-size: 200px; margin-left: 32%; color: green;"></i>
    <p class="fw-bolder text-center fs-1">${{ order_total }}</p>
    <h1>Successful!</h1>
  <p class="text-center">Your payment has been processed successfully.</p>
  <p class="fw-bolder text-center">Transaction ID: {{ order_id }}</p>

  <a href="/" >Continue Shopping</a>
  



  </div>



  
{% endblock %}