{% extends "shop/base.html" %}
{% load static %}

{% load thumbnail %}
{% block title %} 
    {{ product.name }} 
{% endblock %}


{% block content %}
    <div class="product-detail">
        <img src="{% if product.image %}{{ product.image.url }}{% else %} {% static 'img/no_image_1.jpg' %}{% endif %}">
        <h1>{{ product.name }}</h1>
        <h2>Category:
            <a href="{{ product.category.get_absolute_url }}">
                {{ product.category }}
            </a>
        </h2>
        <p class="price">${{ product.price }}</p>
        <h3 class="in_stock">
            Availability: 
            {% if product.stock_quantity >= 10 %}
                <p class="in_stock">In Stock</p>
            {% elif 5 < product.stock_quantity > 10 %}
                <p class="in_stock">Few Stock remaining</p>
            {% elif product.stock_quantity <= 0 %}
                <p class="in_stock">Out of Stock</p> 
            {% else %}<p class="in_stock">
                {{ product.stock_quantity }} items left</p>
            {% endif %}
            </h3>
        <form action="{% url 'cart:cart_add' product.id %}" method="post">
            {{ cart_product_form }}
            {% csrf_token %}
            <input type="submit", value="Add to cart">
        </form>
        {{ product.description|linebreaks }}
    </div>
{% endblock %}