{% extends "shop/base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %} Search {% endblock %}


{% block content %}
<div id="sidebar">
    <h3>Categories</h3>
    <ul>
      {% for c in categories %}
        <li {% if category.slug == c.slug %}class="selected"{% endif %}>
          <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>


  <div id="main" class="product-list">
    {% if query %}
    <h2>"{{ query }}" products: {% with results.count as total_results %}
    {{ total_results }} result{{ total_results|pluralize }}
    {% endwith %} found </h2>
    
    {% else %}
    <h2>No</h2>
    {% endif %}

    {% for product in results %}
      
      <div class="item">
        <a href="{{ product.get_absolute_url }}">
          <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image_1.jpg' %}{% endif %}">
          {{ product.name|slice:":34" }}..
          <br>
          ${{ product.price }}

        </a>
       
      </div>
    {% endfor %}
  </div>

{% endblock %}

