{% extends "shop/base.html" %} 
{% load crispy_forms_tags %}
{% block content %} 

<div class="profile-sidebar">
      <nav>

      <a class="nav-item nav-link" href="{% url 'users:profile' %}">My Account</a>
      <a class="nav-item nav-link" href="#">Orders</a>
      <a class="nav-item nav-link" href="#">Inbox</a>
      <a class="nav-item nav-link" href="#">Pending Reviews</a>
      <a class="nav-item nav-link" href="#">Voucher</a>
      <a class="nav-item nav-link" href="#">Saved Items</a>
      <a class="nav-item nav-link" href="#">Followed Sellers</a>
      <a class="nav-item nav-link" href="#">Recently Viewed</a>
      <a class="nav-item nav-link" href="#">Address Book</a>
      <a class="nav-item nav-link" href="#">Account Management</a>
      <a class="nav-item nav-link" href="#">Logout</a>

      </nav>
</div>

<section class="profile-content">
      <header>
            <h3>Account Overview</h2>
      </header>
      
      <hr class="solid" style="border-top: 2px solid #bbb; margin: 0; width: auto;">

      <div id="profile_pic">
            <img src="{{ user_profile.image.url }}" alt="profile">
            <h2 class="account-heading">{{ user.first_name }} {{ user.last_name }}</h2>
            <p class="text-secondary">{{ user.email }}</p>
      </div>
      <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <h4>Profile Info</h4>
            <hr class="solid" style="border-top: 2px solid #bbb; margin: 0; width: auto;">
           
            {{ user_form|crispy }}
            {{ profile_form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit
            ">Update</button>
        </div>
    </form>
</section>


<!-- <div class="first-box">
    <p>Video Explaning Site</p>
  </div>

  <div class="second-box">
    <p>Sign up Info</p>
  </div> -->







{% endblock content%}