{% extends "shop/base.html" %} 
{% load crispy_forms_tags %}
{% block content %} 

<nav class="profile-sidebar">

      <a class="nav-item nav-link" href="#">New Post</a>
      <a class="nav-item nav-link" href="#">Profile</a>
      <a class="nav-item nav-link" href="#">Log Out</a>
      <a class="nav-item nav-link" href="#">Log In</a>
      <a class="nav-item nav-link" href="#">Register</a>
      <a class="nav-item nav-link" href="#">Register</a>
      <a class="nav-item nav-link" href="#">Register</a>
      <a class="nav-item nav-link" href="#">Register</a>
      <a class="nav-item nav-link" href="#">Register</a>
      <a class="nav-item nav-link" href="#">Register</a>
      <a class="nav-item nav-link" href="#">Register</a>
      <a class="nav-item nav-link" href="#">Register</a>
      <a class="nav-item nav-link" href="#">Register</a>
      <a class="nav-item nav-link" href="#">Register</a>

  

</nav>




{% endblock content%}